{cover_enabled, true}.

{erl_opts, [
	% warnings_as_errors,
	{parse_transform, lager_transform}
]}.

{deps, [
	{riak_core, ".*", {git, "git://github.com/basho/riak_core", {branch, "develop"}}},
	{riak_dt, ".*", {git, "https://github.com/basho/riak_dt.git", {branch, "develop"}}},
    {cluster_info, ".*", {git, "git://github.com/basho/cluster_info.git", {branch, "develop"}}},
	{sext, ".*", {git, "https://github.com/uwiger/sext.git", {tag, "1.2"}}}
]}.

