
{cover_enabled, true}.

{erl_opts, [
    debug_info, warnings_as_errors, {parse_transform, lager_transform}
]}.

% {edoc_opts, [{dir, "../../doc"}]}.

{deps, [
	{nkdist, {git, "https://github.com/netcomposer/nkdist", {branch, "ng"}}},
	{sext, {git, "https://github.com/uwiger/sext.git", {branch, "master"}}}
]}.


{project_plugins, [
	{rebar3_cuttlefish, "0.8.0"}
]}.


% {cuttlefish, [
% 	{file_name, "nklib.conf.example"}, {schema_discovery, false}
% ]}.


%% xref checks to run
{xref_checks, [
    undefined_function_calls, undefined_functions,
    locals_not_used, deprecated_function_calls, deprecated_functions
]}.


{profiles, [
    {prod, [
        {relx, [
            {dev_mode, false}, 
            {include_erts, true}
        ]}
    ]}
]}.


{relx, [
    {release, {nkbase, "0.0.1"}, [
        sasl,
        runtime_tools,
        nkbase,
        {cuttlefish, load},
        {recon, load},
        {eper, load}
    ]},
    {dev_mode, true},
    {include_erts, false},
    {extended_start_script, true},
    {sys_config, "config/shell.config"},
    {overlay_vars, "config/vars.config"},
    {overlay, [
        {template, "config/nkbase-admin", "bin/nkbase-admin"}

    ]}
]}.


