{platform_bin_dir, 		"./bin"}.
{platform_data_dir, 	"./data"}.
{platform_etc_dir,  	"./etc"}.
{platform_lib_dir,  	"./lib"}.
{platform_log_dir,  	"./log"}.
{log_path, 				"./log"}.

{handoff_ip,            "0.0.0.0"}.
{handoff_port,          "8099"}.

{cuttlefish,            "on"}.
{cuttlefish_conf,       "nkbase.conf"}.

{schema_dir, 			"./share/schema"}.

%%
%% etc/vm.args
%%
{node,                  "nkbase@127.0.0.1"}.
{cookie,                "nk"}.
{crash_dump,            "./erl_crash.dump"}.
